{% extends "layout.html" %}
{% set active_page = "index" %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block main %}

<section class="jumbotron text-center">
    <div class="container">
        <h1>AutoScore</h1>
        <p class="lead text-muted">
            Automatic music generation and composition with Recurrent Neural Networks
        </p>

        <p>
            <a class="btn btn-lg btn-primary btn-color" href="{{ url_for('generate') }}">Generate</a>
        </p>
    </div>
</section>

{% endblock %}
