<footer class="footer text-muted">
    <div class="container">
        <button type="button" class="close foot-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <div class="row">
            <div class="col-md-4 foot-left">
                Trabajo de Fin de Grado
                <br/>
                Juan Carlos García Torrecilla
            </div>
            <div class="col-md-8 foot-right">
                Escuela Técnica Superior de Ingenieros Informáticos
                <br/>
                Universidad Politécnica de Madrid
            </div>
        </div>
    </div>
</footer>