<footer class="footer text-muted">
    <div class="container">
        <button type="button" class="close foot-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <div class="row">
            <div class="col-sm-4 col-xl-2 foot-left">
            	Developed by:
            	<br>
                Juan Carlos García
                <br/>
                Emilio Serrano
            </div>
            <div class="col-xl-3 foot-left emails">
            	<br>
                (juancarlos.garcia.torrecilla@alumnos.upm.es)
                <br/>
                (emilioserra@fi.upm.es)
            </div>

            <div class="col-sm-8 col-xl-5 foot-right">
            	Ontology Engineering Group
            	<br>
                Escuela Técnica Superior de Ingenieros Informáticos
                <br/>
                Universidad Politécnica de Madrid
            </div>

            <div class="col-xl-2 foot-center logo">
            	<a href="http://www.oeg-upm.net">
	            	<img  id="logo" src="{{ url_for('static', filename='img/logo_OEG.png') }}">
	            </a>
            </div>
        </div>
    </div>
</footer>